/* =============================================== *
 *                    Mouse                        *
 * =============================================== */
 
 .mouse {
    position: absolute;
    background: #fff;
    width: 40px;
    height: 24px;
    top: -24px;
    left: 430px;
    border-radius: 23px 23px 0 0;
    transition-property: left;
    transition-duration: 1s;
}

@media only screen and (max-height: 805px) {
    .mouse {
        width: 32px;
        height: 18px;
        top: -18px;
        left: 322px;
    }
}
