/* =============================================== *
 *                     Note                        *
 * =============================================== */
    
.note {
    width: 31px;
    height: 21px;
    position: absolute;
    background: #f9ec3e;
    bottom: -33px;
    border-top: 6px solid #cac222;
    transform: rotate(-12deg);
    box-shadow: 0 1px 2px #dcdcdc;
    font-size: 11px;
    text-align: center;
    padding-top: 7px;
}

@media only screen and (max-height: 805px) {
    .note {
        width: 23px;
        height: 16px;
        bottom: -31px;
        border-top: 3px solid #cac222;
        font-size: 9px
    }
}
