@keyframes slide {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px 600px;
    }
}

@keyframes time {
    to {
        transform: rotate(360deg);
    }
}

body {
    background: #d9effd;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 40%, #aacce2 40%);
    background-size: 25px 60px;
}

@import 'workspace/*.styl'